* {
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
}

header {
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    background-color: lightblue;
}

header h1 {
    display: inline-block;
    font-size: 60px;
    background-color: blue;
    padding: 20px;
}

header nav {
    padding-top: 60px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-flex;
    margin-left: 25px;
}

a {
    text-decoration: none;
    color: black;
}

section > div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-right: 1px solid black;
    padding: 100px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer  ul {
    list-style-type: none;
}